@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root,
* {
  box-sizing: border-box;
}

:root {
  /* By default, 1rem = 16px. By using this, 1rem = 10px*/
  font-size: 62.5%;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --brandeis-blue: hsl(212, 95%, 48%);
}

body {
  background: var(--light-gray);
  font-family: "Outfit", sans-serif;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

.card {
  /* The card should not be wider than 320 px */
  background-color: var(--white);
  border-radius: 2rem;
  max-width: 32rem;
  margin: auto;
  padding: 1.6rem 1.7rem 3.2rem;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0476518);
}

.card__img {
  width: 28.6rem;
  border-radius: 1rem;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  align-items: center;
  padding-inline: 1.6rem;
}

.card__heading {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.8rem;
  padding-top: 0.5rem;
  color: var(--dark-blue);
}

.card__detail {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.01875rem;
  line-height: 1.9rem;
  margin-top: -1.2rem;
  color: var(--grayish-blue);
  padding-inline: 1.6rem;
}

.attribution {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
}

.attribution a:hover {
  color: var(--brandeis-blue);
}